/* result.css */
.Whole_Container{
  position: fixed;
    bottom: 0px;
    z-index: 1000;
  max-height: 360px;
  min-width: 400px;
  overflow: hidden;
  overflow-y: scroll;
}
.result-containerr {
  max-width: 400px;
  min-width: 400px;
  align-content: center;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.result-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  overflow: hidden;
  padding: 10px 30px;
  margin-right: 40px;
  transition: transform 0.3s ease-in-out;
}


@media only screen and (max-width: 640px) {
  .Whole_Container{
    max-height: 120px;
    min-width: 0;
  }
  .result-containerr {
    max-width:100%;
    min-width: 0;
    margin:0;
    /* transform: scale(1.05); */
  }
  .result-card {
    margin-right: 0px;
  }
 

  
 
}

.result-card:hover {
  transform: scale(1.05);
}

.result-card img {
  width: 100%;
  height: 200px; /* Set a fixed height for the images */
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  border-radius: 2px; /* Round the top corners */
}

.result-details {
  padding: 16px;
}

.result-details h4 {
  margin: 0;
  color: #333;
}

.result-details p {
  margin: 8px 0;
  color: #666;
}

.button-container1{
  background-color: #ff4d30;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.button-container2{
  color: gray;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
}